<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Detection</title>
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Stylesheet -->

</head>
<body>
    <div class="container">
        <div class="text-input">
            <h3>Language Detection</h3>
            
            <form action="/predict" method="post" id="predictionForm">
               
                <!-- Input text -->
                <label for="Text">Text:</label>
                <input type="text" class="text" id="text" name="text" required>
                <button type="submit">Detect</button>
                <!-- Input text -->

            </form>

            <!-- Result -->
            <div id="result"></div>
            <!-- Result -->

        </div>
    </div>

    <!-- JS Code -->
<script>
    document.getElementById('predictionForm').onsubmit = async function(e) {
        e.preventDefault();

        const text = document.getElementById('text').value;
        const response = await fetch('/predict', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ Text : text})
        });
        const result = await response.json();
        document.getElementById('result').innerText = 
            'Language Prediction: ' + result.language_prediction + '\n' +
            'Emotion Prediction: ' + result.emotion_prediction;
    };
</script>
    <!-- JS Code -->
</body>
</html>